<nala-navbar title="Mis mascotas"></nala-navbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPets($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab *ngIf="pets?.length > 0" vertical="bottom" horizontal="end" slot="fixed">       
    <ion-fab-button (click)="newPet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="pets?.length > 0">
    <ion-row class="ion-justify-content-center">
      <ion-col
        size="12"
        size-lg="2.5"
        size-md="4"
        size-sm="6"
        size-xs="12"
        *ngFor="let pet of pets"
        (click)="editPet(pet.id)"
      >
        <ion-card>
          <ion-img src="assets/img/pet.svg" alt="Pet"> </ion-img>
          <ion-card-header>
            <ion-list>
              <ion-item class="ion-no-padding" lines="none">
                <ion-card-subtitle>{{ pet.race }}</ion-card-subtitle>
                <ion-icon name="calendar-outline" slot="end" color="primary">
                </ion-icon>
              </ion-item>
              <ion-item class="ion-no-padding" lines="none">
                <ion-card-title>{{ pet.name }}</ion-card-title>
                <ion-icon name="folder-outline" slot="end" color="secondary">
                </ion-icon>
              </ion-item>
              <ion-item class="ion-no-padding" lines="none">
                <ion-card-subtitle>{{ pet.birthDate }}</ion-card-subtitle>
              </ion-item>
            </ion-list>
          </ion-card-header>
        </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>

  <ion-grid class="h-100 ion-no-padding" *ngIf="pets?.length === 0">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-text color="primary" class="ion-text-center">
        <ion-img src="assets/img/no-pets.svg" alt="No pets"> </ion-img>
        <h3 class="ion-no-padding" >Agrega tu mascota</h3>
        <ion-fab horizontal="center" color="medium">       
          <ion-fab-button (click)="newPet()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid class="h-100 ion-no-padding" *ngIf="pets === null">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-text color="primary" class="ion-text-center">
        <ion-img src="assets/img/not-found.svg" alt="No pets"> </ion-img>
        <h3 class="ion-no-padding" >Inténtalo de nuevo</h3>
        <ion-fab horizontal="center">       
          <ion-fab-button (click)="refreshPets()">
            <ion-icon name="refresh" *ngIf="!isFreshing"></ion-icon>
            <ion-spinner name="lines-small" *ngIf="isFreshing"></ion-spinner>
          </ion-fab-button>
        </ion-fab>
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="pets === undefined">
    <ion-row class="ion-justify-content-center">
      <ion-col
        size="12"
        size-lg="2.5"
        size-md="4"
        size-sm="6"
        size-xs="12"
        *ngFor="let i of [].constructor(5)"
      >
        <ion-card>
          <ion-skeleton-text animated style="height: 14rem"></ion-skeleton-text>
          <ion-card-header>
            <ion-list>
              <ion-item class="ion-no-padding" lines="none">
                <ion-skeleton-text
                  animated
                  style="height: 1rem; width: 20rem"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="height: 2rem; width: 2rem; border-radius: 100%"
                  slot="end"
                ></ion-skeleton-text>
              </ion-item>
              <ion-item class="ion-no-padding" lines="none">
                <ion-skeleton-text
                  animated
                  style="height: 1.5rem"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="height: 2rem; width: 2rem; border-radius: 100%"
                  slot="end"
                ></ion-skeleton-text>
              </ion-item>
              <ion-item class="ion-no-padding" lines="none">
                <ion-skeleton-text
                  animated
                  style="height: 1rem"
                ></ion-skeleton-text>
                <ion-skeleton-text
                  animated
                  style="height: 2rem; width: 2rem; border-radius: 100%"
                  slot="end"
                ></ion-skeleton-text>
              </ion-item>
            </ion-list>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
